{% extends 'base.html' %}
{% block main %}
<div class="modal-body">
  <form method="POST" action="{{ url_for('add_employee') }}">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label class="bmd-label-floating">Emp Id</label>
          <input type="text" name="emp_id" class="form-control" value="{{ request.form.emp_id }}" required>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="bmd-label-floating">Email</label>
          <input type="email" name="email" class="form-control" value="{{ request.form.email }}" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="bmd-label-floating">Name</label>
          <input type="text" name="name" class="form-control" value="{{ request.form.name }}" required>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="bmd-label-floating">Position</label>
          <input type="text" name="position" class="form-control" value="{{ request.form.position }}" required>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="bmd-label-floating">Team</label>
          <input type="text" name="team" class="form-control" value="{{ request.form.team }}" required>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="bmd-label-floating">Phone</label>
          <input type="text" name="phone" class="form-control" value="{{ request.form.phone }}" required>
        </div>
      </div>
    </div>
    
    <button type="submit" class="btn btn-login float-right" style="background-color:#4BD1A0;">Add Employee</button>
  </form>
</div>

{% endblock %}